<footer>
    <div class="inside">
        <p lang="en">
            <a href="/static/plugins/ep_user_pads/static/theme/<%= theme %>/imprint.html" target="_blank">Imprint</a>
            <span class="separator">|</span>
            <a href="/static/plugins/ep_user_pads/static/theme/<%= theme %>/terms.html" target="_blank">Terms of Usage</a>
        </p>
    </div>
</footer>